# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file="WeatherPy.csv"
weather=pd.read_csv(file)
weather_df=pd.DataFrame(weather)
weather_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,0,Freeport,40.66,-73.58,70.00,83,1,10.29,US,1601344686
1,1,Faanui,-16.48,-151.75,77.76,81,2,19.33,PF,1601344746
2,2,Tasiilaq,65.61,-37.64,30.20,100,98,1.12,GL,1601344746
3,3,Hermanus,-34.42,19.23,46.99,94,38,7.34,ZA,1601344747
4,4,Punta Arenas,-53.15,-70.92,32.00,90,20,10.29,CL,1601344730

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Store latitude and longitude in locations
locations = weather_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
hum = weather_df["Humidity"].astype(float)

In [8]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=hum, dissipating=False, max_intensity=10, point_radius=1)
#                                  


# Add layer
fig.add_layer(heat_layer)

plt.savefig("heatmap1.png")
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [34]:
temp_high=weather_df.loc[weather_df['Max Temp']<80,:]
# temp_high
temp_low=temp_high.loc[temp_high['Max Temp']>70,:]
# temp_low
wind_df=temp_low.loc[temp_low['Wind_Speed']<10,:]
# wind_df
new_weather_df=wind_df.loc[wind_df['Cloudiness']==0,:]
new_weather_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
5,5,Albany,42.60,-73.97,71.01,92,0,1.01,US,1601344702
44,44,Airai,-8.93,125.41,78.60,38,0,5.68,TL,1601344762
65,65,Waddān,29.16,16.14,76.68,48,0,5.10,LY,1601344770
77,77,Kutum,14.20,24.67,74.95,63,0,0.96,SD,1601344774
78,78,Inhapim,-19.55,-42.12,75.20,46,0,3.44,BR,1601344774
91,91,Quelimane,-17.88,36.89,72.61,83,0,4.76,MZ,1601344779
212,212,Eureka,40.80,-124.16,75.99,69,0,2.59,US,1601344560
216,216,Tiznit Province,29.58,-9.50,71.42,44,0,1.30,MA,1601344840
267,267,Alta Floresta,-9.88,-56.09,77.68,58,0,1.52,BR,1601344861
317,317,Ajdabiya,30.76,20.23,78.84,41,0,6.13,LY,1601344880
325,325,Riyadh,24.69,46.72,77.00,27,0,6.93,SA,1601344883
422,422,Marsá Maţrūḩ,31.35,27.25,73.40,88,0,5.82,EG,1601344915
440,440,Moengo,5.62,-54.40,77.02,84,0,5.57,SR,1601344922
443,443,Mocuba,-16.84,36.99,72.75,64,0,2.75,MZ,1601344923
454,454,Al Bardīyah,31.76,25.09,77.13,66,0,4.81,LY,1601344926
481,481,Esna,25.29,32.55,77.00,33,0,2.24,EG,1601344935
487,487,Rosetta,31.40,30.42,77.00,88,0,4.70,EG,1601344938
500,500,Pozo Colorado,-23.49,-58.80,70.02,39,0,5.66,PY,1601344942

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure